@import "@/styles/variables.scss";

.floatingButtons {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  align-items: center;
  // flex-direction: column;
  gap: 2rem;

  button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    svg {
      color: white;
    }
  }
  .feedbackButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.2rem;
    height: 8.2rem;
    background: $color-blue-250-80;

    border-radius: 50%;
    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-blue-250;
      width: 6.6rem;
      height: 6.6rem;
      border-radius: 50%;
    }
  }
  .scrollTopButton {
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-blue-300;
    border-radius: 0.2rem;
  }
}

// .feedbackButton {
//   background-color: var(--color-primary);
//   color: black;

//   &:hover {
//     background-color: var(--color-primary-hover);
//   }
// }

// .scrollTopButton {
//   background-color: var(--color-secondary);
//   color: var(--color-secondary-foreground);

//   &:hover {
//     background-color: var(--color-secondary-hover);
//   }
// }

// .srOnly {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   padding: 0;
//   margin: -1px;
//   overflow: hidden;
//   clip: rect(0, 0, 0, 0);
//   white-space: nowrap;
//   border-width: 0;
// }
