@import "@/styles/variables.scss";

.servicePage {
  padding-top: 4rem;
  max-width: 109.2rem;
  width: 100%;
  margin-bottom: 4.7rem;
  &__info {
    padding-bottom: 2.3rem;
    color: $color-gray-450;
    span {
      font-style: italic;
    }
  }
  &__image {
    position: relative;
    max-width: 60rem;
    width: 100%;
    max-height: 41.85rem;

    margin: 4rem auto 2.7rem;
    img {
      height: auto;
      overflow: hidden;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  h3 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
  }
  .services-list {
    padding-bottom: 1rem;
    margin-left: 2rem;
  }
  li {
    p {
      margin-left: 0.7rem;
      display: inline;
    }

    color: $color-blue-300;
    line-height: 2.2rem;
  }
}
