@import "@/styles/variables.scss";
.product-list-container {
  max-width: 109.2rem;
  width: 100%;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  .view-controls {
    display: flex;
    gap: 0.8rem;
    justify-content: flex-end;
    margin-bottom: 6.1rem;

    .viewControl-btn {
      width: 3.5rem;
      height: 3.5rem;
      background: $color-gray-60;
      border-radius: 0.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      transition: all 0.3s;

      &:hover,
      &.active {
        background-color: $color-blue-300;
        color: white;
      }
    }
  }

  .product-list {
    display: grid;

    &.grid {
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $desktop) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $tablet) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &.list,
    &.compact {
      grid-template-columns: 1fr;
    }
  }
}
