@import "@/styles/variables.scss";

.buyOneClickButton {
  width: 15.5rem;
  height: 4rem;
  background: white;
  border: 1px solid $color-blue-300;
  color: $color-blue-300;
  border-radius: 0.2rem;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #e3f2fd;
  }
  margin-bottom: 5.9rem;
}
