@import "@/styles/variables.scss";
.mapContainer {
  overflow: hidden;
  max-width: 88.5rem;
  width: 100%;
  height: 40rem;
  @media (max-width: $desktop) {
    max-width: 100%;
  }

  .map {
    width: 100%;
    height: 100%;
    border: none;
  }
}
