@import "reset";
@import "variables";

body {
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  background: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  max-width: 144rem;
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  overflow-x: hidden;
  main {
    max-width: 109.2rem;
    width: 100%;
    flex-shrink: 1;
  }
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
}
@mixin responsive-width {
  margin: 0 auto;
  @media (min-width: 1024px) {
    width: 85%;
  }

  @media (max-width: 1023px) and (min-width: 768px) {
    width: 90%;
  }

  @media (max-width: 767px) {
    width: 95%;
  }
}

// .sprite {
//   display: inline-block;
//   background-repeat: no-repeat;
//   image-rendering: pixelated;
// }
