$color-blue-250: #00aeef;
$color-blue-250-80: rgba(0, 175, 239, 0.2);
$color-blue-300: #107bb1;
$color-blue-350: #0d6b9a;
$color-gray-50: #f2f2f2;
$color-gray-75: #f9f9f9;
$color-gray-100: #f8f8f9;
$color-gray-300: #b0b0b0;
$color-gray-400: #999999;
$color-gray-425: #888888;
$color-gray-450: #666666;

$color-black-700: #2e2e2f;

$color-blue-400: #2992d9;
$color-purple-500: #893ca9;
$color-yellow-400: #ffc438;
$color-green-300: #25c75b;

$box-shadow-005: 0 0 0 0.05rem $color-gray-50;
$box-shadow-01: 0 0 0 0.1rem $color-gray-50;
