@import "@/styles/variables.scss";

.sidebar {
  max-width: 25.8rem;
  width: 100%;
  flex-shrink: 0;
  @media (max-width: $desktop) {
    display: none;
  }
}

.categories {
  box-shadow: 0 0 0 0.1rem $color-gray-50;
}

.categoryItem {
  position: relative;
  background-color: $color-gray-100;
  padding: 1.4rem 2rem;
  box-shadow: 0 0 0 0.1rem $color-gray-50;
  font-size: 1.3rem;

  &.active,
  &:hover {
    background-color: white;
    color: $color-blue-300;
    .categoryItem__underline {
      transform: scaleY(1);
      a {
        color: $color-blue-300;
      }
    }
  }

  &.activeNavLink {
    color: white;
    background-color: $color-blue-350;
  }
  &__underline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0.2rem;
    background-color: $color-blue-300;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h3 {
      font-weight: 400;
      padding-right: 0.2rem;
      font-size: 1.3rem;
    }
    &--svg {
      padding-top: 0.7rem;
      height: 0.8rem;
      width: 1.2rem;
    }
  }
}

.megaMenu {
  position: absolute;
  top: -0.1rem;
  left: 100%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  // width: 112.3rem;
  width: 435%;
  z-index: 100;
  padding: 2.4rem;
  color: black;
  display: grid;
  grid-template-columns: (repeat(3, 1fr));

  &Container {
    display: flex;
    padding-right: 3rem;
    padding-bottom: 2rem;
    gap: 2rem;
    &__image {
      min-width: 5rem;
    }
    &__list {
      flex-basis: auto;
      // width: 100%;
      h4 {
        color: $color-blue-350;
        font-weight: 700;
      }
      ul {
        margin-top: 0.9rem;
      }
    }
  }
}
