@import "@/styles/variables.scss";
.card__body {
  position: relative;
}
.product-card {
  background: white;
  box-shadow: $box-shadow-01;
  // border: 1px solid $color-gray-50;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  transition: all 0.3 ease-out;
  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .badge__wrapper__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    width: 18.34rem;
  }

  .badge__wrapper {
    position: absolute;
  }

  .product-info {
    h3 {
      font-weight: 700;
    }
    .product-status {
      font-size: 1.3rem;
      color: $color-gray-425;
      span {
        font-style: italic;
      }
      .product-store {
        width: 14rem;
      }
    }
    .discount-message {
      color: red;
      font-style: italic;
      font-weight: 700;
      font-size: 1.39rem;
    }
    .product-info__subTitile {
      font-size: 1.39rem;
      color: $color-gray-425;
    }
  }
  .product-info__favorite {
    button {
      display: flex;
      color: $color-gray-425;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      transition: all 0.3 ease-out;
      .favorite-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        transition: all 0.3 ease-out;
        svg {
          margin-top: 0.3rem;
        }

        &.filled {
          color: white;
          background-color: $color-blue-300;
        }
      }
      p {
        display: none;
      }
      &:hover {
        .favorite-icon {
          background-color: $color-gray-50;
          color: $color-black-700;
        }
        .favorite-icon.filled {
          color: white;
          background-color: $color-blue-300;
        }
      }
    }
  }
  .product-price__wrapper {
    .current-price {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1.4rem;
      .old-price {
        padding-left: 1.1rem;
        font-weight: 400;
        font-size: 1.3rem;
        text-decoration: line-through;
        color: $color-gray-425;
      }
    }
    .savings {
      color: $color-gray-450;
      font-size: 1.2rem;

      span {
        margin-left: 0.6rem;
        color: black;
        background-color: $color-yellow-450;
        padding: 0.4rem 0.8rem;
        border-radius: 0.3rem;
      }
    }
  }
  .product-actions {
    height: 3.8rem;
    background-color: white;
    padding-bottom: 2rem;
    button {
      font-size: 1.3rem;
      line-height: 1.8rem;
      border-radius: 0.2rem;
      width: 10.7rem;
      height: 3.6rem;
      color: white;
      background-color: $color-blue-300;
    }
  }

  // Grid view
  &.grid {
    min-height: 43.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 27.3rem;
    width: 100%;
    @media (max-width: 1280px) {
      max-width: 100%;
    }

    .badge__wrapper {
      right: 0;
      top: -1rem;
    }

    .product-info {
      padding-top: 1.6rem;
      max-height: 24.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        text-align: center;
        font-weight: 400;
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
      .product-status {
        margin-top: 1rem;
        text-align: center;
        .product-store {
          font-size: 1.2rem;
        }
      }
      .discount-message {
        padding-top: 0.4rem;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
    .product-price__wrapper {
      height: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
    }
    .product-info__favorite {
      position: absolute;
      width: 3rem;
      height: 3rem;
      background: white;
      border-radius: 50%;
      z-index: 22;
      right: 3%;
      display: none;
    }
    .product-actions {
      padding-top: 1rem;
      // display: none;
      margin-top: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
      transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
      z-index: 5;
    }

    &:hover {
      // position: absolute;
      // min-height: 46.8rem;
      // height: auto;
      overflow: visible;
      z-index: 1;

      .product-info__favorite {
        display: flex;
      }
      .product-actions {
        // display: block;
        background: white;
        margin-bottom: 1rem;
        opacity: 1;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        box-shadow:
          -2px 10px 10px rgba(0, 0, 0, 0.1),
          2px 10px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }

  // List view
  &.list {
    display: grid;
    grid-template-columns: 20rem minmax(20rem, 65rem) auto;
    gap: 2rem;
    min-height: 23.8rem;
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .product-image-container {
      width: 20rem;
      height: 20rem;
    }
    .badge__wrapper {
      right: 0;
      top: 2rem;
    }

    .product-info {
      resize: horizontal;
      h3 {
        font-size: 1.7rem;
        line-height: 2rem;
        margin-bottom: 1.1rem;
      }
      .product-status {
        display: flex;
        gap: 2.3rem;
      }
      .discount-message {
        padding-top: 1.43rem;
        padding-bottom: 1.8rem;
      }
      .product-info__favorite {
        margin-top: 2.3rem;
        border-top: solid 0.1rem $color-gray-50;
        padding-top: 1.9rem;
        button {
          p {
            display: block;
          }
          @media (max-width: $tablet) {
            p {
              visibility: hidden;
            }
          }
        }
      }
    }
    // ______________________________________________
    .product-price__wrapper {
      display: flex;
      flex-direction: column;
      gap: 2.2rem;
    }
  }

  // Compact view
  &.compact {
    display: grid;
    grid-template-columns: 7rem minmax(10rem, 50.2rem) 24rem auto auto;
    gap: 2rem;
    align-items: center;
    min-height: 15.8rem;
    height: auto;
    // width: 100%;
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .product-image-container {
      width: 5em;
      height: 5rem;
    }
    .badge__wrapper {
      display: none;
    }

    .product-info {
      h3 {
        font-size: 1.4rem;
        line-height: 2rem;
      }

      .product-status {
        display: flex;
        gap: 2.3rem;
        @media (max-width: $desktop) {
          flex-direction: column;
          gap: 0.5rem;
        }
      }
      .discount-message {
        margin-top: 1.4rem;
      }
    }
    .product-info__favorite {
      button {
        p {
          display: none;
        }
      }
    }
  }
}
