@import "@/styles/variables.scss";

.header {
  width: 100%;
  @media (max-width: $desktop) {
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

.topBar {
  height: 6.4rem;
  border-bottom: 1px solid $color-gray-50;
  &__container {
    height: 6.4rem;
    max-width: 144rem;
    width: 100%;
    padding: 1.3rem 3rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 2.3rem;
    font-size: 14px;
    flex-shrink: 0;
  }
}
.contact {
  max-width: 46.4rem;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.2rem;
  flex-wrap: wrap;

  .contact__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
  }
  &__number {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
  }
  .flagBanner {
    position: relative;
    width: 22.8rem;
    height: 35px;
    overflow: hidden;
  }
  .btn__container {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
  }
  .btn-text {
    padding-top: 16px;
    padding-left: 10px;
    color: $color-blue-300;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
  }
}

.schedule {
  color: $color-gray-450;
  &-info {
    white-space: nowrap;
    font-size: 13px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}
.callback {
  color: $color-blue-300;
  font-size: 11.3px;
}

.controls {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  @media (max-width: 1220px) {
    gap: 0.5rem;
  }

  .iconButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    &:hover {
      color: #107bb1;
    }
    min-width: fit-content;
    @media (max-width: 1220px) {
      p,
      .counter {
        display: none;
      }
      svg {
        width: 2.1rem;
        height: 2.1rem;
      }
    }
  }
  .text-login {
    margin-left: 12px;
    @media (max-width: 1220px) {
      margin: 0;
    }
  }

  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $color-gray-300;
    color: white;
  }
  .favorite-btn {
    margin-left: 5px;
  }

  .basket-btn {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .search-btn {
    margin-left: 11px;
  }
}

.mainBar {
  height: 10.4rem;
  border-bottom: 1px solid $color-gray-50;
  &__container {
    max-width: 144rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  padding: 1.1rem 0;
  max-width: 19rem;
  width: 19rem;
  flex-shrink: 0;
}

.header__nav {
  display: flex;
  align-items: center;
  a {
    margin: 0 2.4rem;
    padding: 3.9rem 0;
    text-wrap: nowrap;
  }
  @media (max-width: 1220px) {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    a {
      margin: 0rem;
      padding: 1rem;
    }
  }
  @media (max-width: $desktop) {
  }
}

.shopTitle {
  max-width: 17rem;
  width: 100%;
  @media (max-width: 1220px) {
    display: none;
  }

  &__wrapper {
    white-space: wrap;
    font-size: 1.3rem;
    line-height: 18px;
    color: $color-gray-400;
    font-weight: 400;
    padding: 1.1rem 0;
  }
}
