@import "@/styles/variables.scss";

.footer {
  background-color: $color-black-700;
  color: #ffffff;
  height: 24.6rem;
  width: 100%;
  padding-top: 4.2rem;
  @media (max-width: 1220px) {
    height: fit-content;
    padding-bottom: 2rem;
  }
  @media (max-width: $tablet) {
    padding-bottom: 4rem;
  }

  &__container {
    padding: 0 3rem;
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
  }
  &__col {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    @media (max-width: $desktop) {
      grid-template-columns: repeat(3, auto);
      justify-content: center;
      column-gap: 5rem;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
      row-gap: 1rem;
      .footer__item {
        place-items: center;
      }
    }
  }

  &__contact {
    font-weight: 700;
    a {
      font-size: 1.6rem;
    }
  }
}
.item__contacts {
  margin-bottom: 1.9rem;
}
.item__title {
  font-weight: 400;
  color: $color-gray-425;
}
.schedule__callback {
  font-size: 1.3rem;
  color: $color-blue-300;
}
.socialLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
  &__icon {
    border-radius: 50%;
  }
}
.socialLinks__title {
  padding-bottom: 0.9rem;
}
.contactSVG__wrapper {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
