@import "@/styles/variables.scss";

.dealersPage__grid {
  max-width: 44.1rem;
  width: 100%;
  margin-bottom: 4.7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  &--city {
    width: 33.6rem;
    @media (max-width: $desktop) {
      max-width: 100%;
      width: 100%;
    }
    p {
      font-weight: 700;
    }
  }
  &--numbers {
    padding-bottom: 2.5rem;

    @media (max-width: $mobile) {
      justify-self: end;
      width: fit-content;
    }
  }
}
