@import "@/styles/variables.scss";

.aboutPage {
  width: 109.2rem;
  margin-bottom: 4.7rem;

  &__info {
    color: $color-gray-450;
    margin-bottom: 2.5rem;
  }
  &__title {
    width: fit-content;
    margin: 0 auto;
  }
  h3 {
    margin-bottom: 2.3rem;
    font-weight: 700;
  }
  .services-list {
    padding-bottom: 1rem;
    margin-left: 2rem;
  }
  li {
    p {
      margin-left: 0.7rem;
      display: inline-block;
    }

    // color: $color-blue-300;
    // line-height: 2.2rem;
  }
  .aboutPage--bold {
    font-weight: 700;
    color: black;
  }
  a {
    color: $color-blue-300;
  }
  ul {
    padding-bottom: 2.9rem;
  }
}
