@import "@/styles/variables.scss";

.categories__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  //   border: 0.1rem solid $color-gray-50;
  &--item {
    padding-top: 2.1rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // width: 22.44rem;
    width: 21.839rem;
    height: 28.4rem;
    border: 0.1rem solid $color-gray-50;
    transition: all ease 0.2s;
    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  }
  .grid--item-text {
    font-size: 1.6rem;
    line-height: 2rem;
    padding-top: 2.2rem;
    text-align: center;
  }
}

.titleCategoty__container {
  display: flex;
  gap: 3.8rem;
  margin-top: 3rem;
  margin-bottom: 2.4rem;
  align-items: center;
  .titleCategoty__title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
  }
  a {
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: $color-blue-300;
    font-weight: 400;
    &:hover {
      color: black;
    }
  }
}
