@import "../../App.scss";

.footer {
  background-color: $color-black-700;
  color: #ffffff;
  height: 246px;
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  //   display: flex;
  //   align-items: flex-start;
  //   flex-wrap: wrap;
  //   gap: 2rem;
  padding-top: 42px;
  padding-bottom: 52px;
}

.info {
  .copyright {
    font-size: 0.875rem;
    opacity: 0.8;
    margin-bottom: 1rem;
  }
}

.title {
  width: 330px;
  padding-right: 15px;
  padding-left: 15px;
  p {
    color: $color-gray-425;
    font-size: 15px;
    line-height: 22px;
  }
}
