@import "@/styles/variables.scss";

.hotProducts__container {
  margin-top: 2.9rem;
  .hotProducts__btn--wrapper {
    padding-bottom: 3.4rem;
    font-size: 1.6rem;
    line-height: 2rem;
    display: flex;
    gap: 3.246rem;
    .hotProduct__btn {
      padding-top: 0.3rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.2rem solid transparent;
      color: $color-blue-300;
      &:hover,
      &.active {
        border-color: $color-blue-300;
        color: black;
      }
    }
  }
}
