@import "@/styles/variables.scss";

.productPage {
  width: 100%;
}

.productContainer {
  display: flex;
  gap: 3.4rem;
  margin-bottom: 40px;
  border: solid 0.1rem $color-gray-50;

  @media (max-width: 1248px) {
    gap: 1rem;
  }
  @media (max-width: $desktop) {
    flex-direction: column;
    gap: 0;
  }

  .productLeft {
    padding-top: 3.4rem;
    padding-left: 4.1rem;
    display: flex;
    flex-direction: column;
    &__sub {
      display: flex;
      justify-content: space-between;
      @media (max-width: $desktop) {
        margin-right: 4.1rem;
      }
      .badge__wrapper__container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.6rem;
      }
    }
  }
}

.productGallery {
  position: relative;
}

.productInfo {
  padding-top: 3.2rem;
  display: flex;
  flex-direction: column;

  .productMeta {
    @media (max-width: $desktop) {
      padding-right: 4.1rem;
      padding-left: 4.1rem;
    }
    @media (max-width: $mobile) {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    padding-bottom: 2.7rem;
    display: flex;
    border-bottom: solid 0.1rem $color-gray-50;
    .articleInfo {
      display: flex;
      flex-direction: column;
      line-height: 1.8rem;
      color: #666;
      font-size: 1.4rem;
    }
  }
}

.priceBlock {
  padding-top: 3.3rem;
  @media (max-width: $desktop) {
    padding-right: 4.1rem;
    padding-left: 4.1rem;
  }
  @media (max-width: $mobile) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .priceContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .currentPrice {
    font-size: 2.6rem;
    line-height: 2rem;
    font-weight: 700;
  }

  .oldPrice {
    line-height: 1.5rem;
    color: $color-gray-425;
    text-decoration: line-through;
  }

  .savings {
    display: flex;
    align-items: center;
    gap: 1rem;

    .savingsLabel {
      font-size: 1.2rem;
      color: $color-gray-425;
    }

    .savingsAmount {
      background-color: $color-yellow-450;
      padding: 0.4rem 0.8rem;
      border-radius: 0.3rem;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}
.availability {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 1.6rem 0;
  color: $color-gray-425;
  @media (max-width: $desktop) {
    padding-right: 4.1rem;
    padding-left: 4.1rem;
  }
  @media (max-width: $mobile) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    gap: 1rem;
  }
  &__container {
    max-width: 14rem;
    @media (max-width: $mobile) {
      max-width: 100%;
    }
  }
}
.novaPostMainContainer {
  max-width: 32rem;
  width: 100%;
  @media (max-width: $desktop) {
    margin-right: 4.1rem;
    margin-left: 4.1rem;
  }
  @media (max-width: $mobile) {
    max-width: 100%;
    // margin-right: 4.1rem;
    // margin-left: 4.1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.actions {
  display: flex;
  gap: 1.2rem;
  margin: 1.4rem 0;
  @media (max-width: $desktop) {
    padding-right: 4.1rem;
    padding-left: 4.1rem;
  }
  @media (max-width: $mobile) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .addToCartButton {
    max-width: 11.8rem;
    width: 100%;
    height: 4rem;
    background-color: $color-blue-300;
    color: white;
    border: none;
    line-height: 1.8rem;
    border-radius: 0.2rem;

    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color-blue-400;
    }
    @media (max-width: $mobile) {
      max-width: 100%;
    }
  }
}
.buyOneClickMainContainer {
  @media (max-width: $desktop) {
    padding-right: 4.1rem;
    padding-left: 4.1rem;
  }
  @media (max-width: $mobile) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
.priceNote {
  font-size: 12px;
  color: $color-gray-425;
  border-top: solid 0.1rem $color-gray-50;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media (max-width: $desktop) {
    padding-right: 4.1rem;
    padding-left: 4.1rem;
  }
  // @media (max-width: $tablet) {
  // }
  @media (max-width: $mobile) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
